.bit-box {
  text-align: center;
  background: transparent;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.bit-front,
.bit-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* The following Fixes a bug with backface-visibility: hidden; property in firefox.*/
  transform: rotateY(0deg);
}

.bit-back {
  transform: rotateY(180deg);
}
