@import "tailwindcss";

@font-face {
  font-family: "Staatliches";
  src: url("staatliches-regular-webfont.woff2");
}

html {
  font-family: "Staatliches";
}

@theme {
  --color-white-smoke: whitesmoke;
}
